/* Aufgabe: Aufgabe 4: Eisdealer
    Name: Kathrin Wurz
    Matrikel: 260742
    Datum: 21.04.2019
    Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. 
     Er wurde nicht kopiert und auch nicht diktiert.*/




html {
    font-family: 'Pompiere', cursive;
    background-color: rgb(252, 199, 208);
    color: white;
    font-size: 30px;
}


h1 {
    font-family: 'Londrina Outline', cursive;
    color: white;
    text-align: center;
    font-size: 60px;
}

fieldset {
    font-size: 30px;
    margin-top: 30px;
    border-color: white;

}

#button {
    border: none;
}

button {
    font-family: 'Pompiere', cursive;
    font-size: 15px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 1px solid white;
    color: white;
    background-color: rgb(235, 176, 186);

}



li {
    list-style-type: none;
  }
  li::before  {
    content: "🍦 ";
    font-size: 25px;
  }

#preis {
    margin-top: 40px;
    font-size: 40px;
    font-style: italic;
}








/* Styling für Desktop */
@media only screen and (min-width: 1024px) {

    html {
        font-size: 20px;
    }

    fieldset {
        width: 350px;
        margin: 50px;
        border-color: white;
    }



    #bestellUebersicht {
        width: 450px;
        top: 100px;
        right: 0;
        position: fixed;
        


    }

    button {
        font-family: 'Pompiere', cursive;
        font-size: 15px;
        height: 100px;
        width: 100px;
        border-radius: 50px;
        border: 1px solid white;
        color: white;
        background-color: rgb(235, 176, 186);

    }

    #button {
        font-family: 'Pompiere', cursive;
        top: 200px;
        right: 150px;
        position: fixed;
        border: none;
    }




}
